.new-word{
    position: absolute;
    right: 20px;
    top: 28px;
}

.new-word button{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    color: #313131;
    z-index: 100;
    cursor: pointer;
}

.word-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.word-box{
    color: #d2cd7c;
}

.word-box h2 span{
    font-size: 50px;
    text-transform: uppercase;
    text-decoration: white;

}

.ahorcado-img{
    text-align: center;
}

.letter{
    padding: 15px;
    text-decoration: underline;
}

.main-container{
    margin-top: 2rem;
    display: flex;
    float: left;
    width: 50vw;

}

.main-containerr{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    align-items: center;

}

.letters-box{
    background-color: #605e5e;
    border-radius: 10px;
    position: relative;
    padding: 15px;
    margin-top: 10vh;
}

.letters{
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(4, 70px);
}

.letters button{

}

.enable{
    width: auto;
    padding: 10px;
    background-color: #2d2d2d;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    color: #ebebec;
    margin: 5px;
    cursor: pointer;
}

.correct{
    width: auto;
    padding: 10px;
    background-color: #3d961d;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    color: #ade5ff;
    margin: 5px;
    cursor: not-allowed;
}

.incorrect{
    width: auto;
    padding: 10px;
    background-color: #ab404d;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    color: #ade5ff;
    margin: 5px;
    cursor: not-allowed;
}

.block{
    cursor: not-allowed;
}

.game-brand{
    display: flex;
    margin-top: 2vh;
}

.game-brand span{
    font-size: 4.3rem;
    color: gray;
}

.game-brand img{
    width: 150px;
    margin-left: 0.5vw;
}

.notify{
    position: absolute;
    top: calc(50vh - 25vh);
    right: calc(50vw - 17.5vw);
    width: 35vw;
    height: 50vh;
    background-color: #262626;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic span{
    font-size: 4.5rem;
    color: white;
}

.topic img{
    width: 200px;
}

.question{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question span{
    font-size: 3rem;
    color: white;
}

.question-buttons{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.question-buttons button{
    background-color: gray;
    padding: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.hidde{
    visibility: hidden;
}

@media(max-width: 1440px){
    .new-word{
        top: 35px;
    }
}

@media(max-width: 1024px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #img{
        width: 512px;
    }

    .main-container{
        height: auto;
    }

    .main-containerr{
        height: auto;
    }

    .notify{
        right: calc(50vw - 25vw);
        width: 50vw;
    }

    .new-word{
        top: 36px;
    }
}

@media (max-width: 768px){
    #img{
        width: 350px;
    }
}

@media(max-width: 425px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-container{
        width: 75vw;
    }

    .main-containerr{
        width: 100vw;
    }

    .letters{
        grid-template-columns: repeat(5,70px);
        grid-template-rows: repeat(6, 70px);
    }

    .new-word{
        top: 15px;
    }

    .word-container{
        margin-top: 80px;
    }

    .notify{
        width: 90vw;
        right: calc(50vw - 45vw);
    }

    .word-box h2 span{
        font-size: 3rem;
    }
}

@media(max-width: 375px){
    .main-container{
        width: 90vw;
    }

    #img{
        width: 320px;
    }

    .letters{
        grid-template-columns: repeat(5,65px);
        grid-template-rows: repeat(6, 65px);
    }
}

@media(max-width: 320px){
    #img{
        width: 300px;
    }

    .letters{
        grid-template-columns: repeat(5,50px);
        grid-template-rows: repeat(6, 50px);
    }

    .topic span{
        font-size: 3.5rem;
    }

    .question span{
        font-size: 2.5rem;
    }

    .question-buttons{
        width: 100%;
    }
}

