*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body{
    background-color: #212154;
}

header{
    background: #161636;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    position: fixed;
}

header .title-box{
    width: 100%;
    position: fixed;
}

.title{
    text-align: center;
}

header h1{
    color: papayawhip;
    text-transform: uppercase;
    font-size: 30px;
}


/* Index */

.title-container{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0 0 0;
}

.main-title{
    font-size: 40px;
    color: coral;
}

.categories-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    height: 55vh;
    width: 30vw;
    background-color: #010141;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption{
    color: papayawhip;
    font-size: 20px;
    margin-top: 40px;
}

.buttons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.buttons a{
    text-decoration: none;
}

.btn-categories{
    width: 170px;
    height: 40px;
    background-color: #51bee8;
    margin: 20px 0 20px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-categories{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #010141;
}

